<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">

</head>
<body>
<h1> INSERT MARCA</h1>
<form action="/marcas" method="POST">


    <label for="id_nom">Nom</label>
    <input id="id_nom" type="text" name="nom" ><br>

    <label for="fundacion">Fundacion</label>
    <input id="fundacion" type="text" name="fundacion" >

    <label for="sede">Sede</label>
    <input id="sede" type="text" name="sede" >

    <label for="fundador">Fundador</label>
    <input id="fundador" type="text" name="fundador" >

    <label for="img">Imagen</label>
    <input id="img" type="text" name="img" >

    <input type="submit" value="insert">
</form>
</body>
</html>